{% extends 'accounts/main.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                        <hr>
                    {% endfor %}
                    <br>
                    <button class="btn btn-sm btn-warning" onclick="history.back();">Cancel</button>
                    <input type="submit" value="Valider" class="btn btn-sm btn-info">
                </form>
            </div>
        </div>
    </div>
{% endblock %}